# ------------------------------------------------------------------
# macOS
# ------------------------------------------------------------------

.DS_Store

# ------------------------------------------------------------------
# Python
# ------------------------------------------------------------------

__pycache__/
*.pyc

# ------------------------------------------------------------------
# SPIDER
# ------------------------------------------------------------------

src/spider/.venv/
src/spider/reports/
src/spider/credentials/