# ------------------------------------------------------------------
# macOS
# ------------------------------------------------------------------

.DS_Store

# ------------------------------------------------------------------
# Python
# ------------------------------------------------------------------

__pycache__/
*.pyc

# ------------------------------------------------------------------
# SPIDER
# ------------------------------------------------------------------

src/spider/.venv/
src/spider/reports/
src/spider/credentials/

# ------------------------------------------------------------------
# ORACLE
# ------------------------------------------------------------------

src/oracle/.venv/
src/oracle/credentials/
src/oracle/reports/*.html
src/oracle/config.ini
src/oracle/database/*.db
src/oracle/dashboard_html/*.html
src/oracle/docs/api/*.html
src/oracle/docs/api/*.js




# SQLite runtime files
*.db-wal
*.db-shm
*.db-journal