<header>
  <div class="container brandbar">
    <a class="brand" href="index.html">
      <span class="mark" aria-hidden="true"></span>
      <span class="title">The Prescott Girls</span>
    </a>

    <nav aria-label="Primary navigation">
      <a class="{{HOME}}" href="index.html">Home</a>
      <a class="{{BOOK}}" href="book.html">Book</a>
      <a class="{{GALLERIES}}" href="illustrations.html">Galleries</a>
      <a class="{{INTERPRETATIONS}}" href="interpretations.html">Interpretations</a>
      <a class="{{RESEARCH}}" href="research.html">Research</a>
      <a class="{{AUTHOR}}" href="author.html">Author</a>
      <a class="{{TEACHERS}}" href="teachers.html">Teachers</a>
      <a class="{{EVENTS}}" href="events.html">Events</a>
      <a class="{{FAQ}}" href="faq.html">FAQ</a>
    </nav>
  </div>
</header>
